body {
	font-size: 14px;
}

#checkButton {
    border: 0px;
    height: 30px;
    width: 300px;
    color: white;
    border-radius: 5px;
    background-color: #0DA2B7;
    transition-duration: 0.4s;
}

#checkButton:hover{
		cursor: pointer;
    background-color: #286787;
}