body {
	font-size: 15px;
}

h3 {
	margin-top: 3px;
	margin-bottom: 6px;
}

#content {
	margin: 0px 0px 6px 0px;
}

#checkButton {
  border: 0px;
  height: 25px;
  width: 350px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #0DA2B7;
  transition-duration: 0.4s;
}

#checkButton:hover{
	cursor: pointer;
  background-color: #286787;
}

#credit {
	font-size: 10px;
}